@import 'bootstrap.min.scss';

body {
  /*font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;*/
  background-color: #fff;
}

#goalTrackingForm {
  margin-top: 2em;
}

nav#menu {
  height: 100vh;
  overflow: auto;
  padding-top: 1em;
}